#Author: Vignesh Natarajan
#Mesos Master Configuration File
#We can configure upto 4 masters using mesos_master_config.sh script and mesos_master.cfg
#Master ids should be unique and it can be between [1 to 255]

MASTER_1_UNIQUE_ID="1"
MASTER_1_IP_ADDRESS=""

MASTER_2_UNIQUE_ID="2"
MASTER_2_IP_ADDRESS=""

MASTER_3_UNIQUE_ID=""
MASTER_3_IP_ADDRESS=""

MASTER_4_UNIQUE_ID=""
MASTER_4_IP_ADDRESS=""
